<div class="headerContainer">
    <h1 class="title">Integrify Photo Gallery</h1>
    <nav class="">
        <div class="">

            <div class="">


                <ul class="nav">
                    <li>
                        <a class="" href="http://www.integrify.fi/">
                            Integrify
                        </a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/addStudent">Add New Student</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>